<div class="main">
	<div class="jumbotron">
		<div class="container-fluid">
			<div class="col-md-7 pull-right">
				<h1>Create and share Stories</h1>
				<%= link_to 'Learn more', about_path, :class => 'btn' %>
			</div>
		</div>
	</div>
</div>

<div class="supporting">
	<div class="container-fluid">
		<h1>Relive and share your adventures</h1>
		<p>Stories automatically creates a digital journal filled with only your best photos.</p>
	</div>
</div>

<div class="secondary">
	<div class="container-fluid"></div>
</div>

<div class="discover">
	<div class="container-fluid">
		<h1>Discover Stories</h1>
		<%= link_to 'Learn more', about_path, :class => 'btn' %>
	</div>
</div>
